.filters {
	background-color: white;
	height: 70px;
	width: 100%;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	display: flex;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}
.filters button {
        font-size: 18px;
        background-color: #ff5a5f;
        color: #ffffff;
        height: 48px;
        width: 20%;
        border: 0px;
        border-radius: 4px;
        right: 30px;
        position: absolute;
}
button:hover {
        opacity: 0.9;
}
.locations {
        width:25%;
	height: 100%;
	border-right: 1px solid #dddddd;
}
.filteris div {
	width:25%;
}
h3 {
	font-weight:600;
	line-height:0;
	padding-left:40px;
	padding-top:10px;
}
h4 {
	font-weight:400;
	font-size:14px;
	line-height:0.3;
	padding-left:40px;
}
.amenities {
	height:100%;
	width:25%;
}
