.filters {
	background-color: white;
	height: 70px;
	width: 100%;
	border: 1px;
	border-color: #dddddd;
	border-radius: 4px;
	display: flex;
	border-style: solid;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}
.filters button {
	font-size: 18px;
	background-color: #ff5a5f;
	color: #ffffff;
	height: 48px;
	width: 20%;
	border: 0px;
	border-radius: 4px;
	right: 30px;
	position: absolute;
}
button:hover {
	opacity: 0.9;
}
.locations {
	height: 100%;
	border-right: 1px solid #dddddd;
}
.filters div {
	width: 25%;
}
.amenities {
	height: 100%;
	width: 25%;
}
h3 {
	font-weight: 600;
	margin-left: 40px;
	margin-bottom: 0px;
}
h4 {
	font-weight: 400;
	font-size: 14px;
	margin-left: 40px;
	margin-top: 3px;
}
.popover {
	background-color: #fafafa;
	width: 83.7%;
	border: 1px solid #dddddd;
	border-radius: 4px;
	margin-top: -3px;
	padding-bottom: 45px;
	display: none;
}
h2 {
	font-size: 16px;
	margin-bottom: 0;
	padding-top: 20px;
	margin-left: -7px;
}
li {
	list-style: none;
}
.amenities li {
	margin-top: 15px;
}
.amenities ul {
	padding-top: 20px;
	padding-bottom: 30px;
}
.locations li {
	margin-top: 12px;
	margin-left: -5px;
}
.sub-popover {
	padding-top: 0px;
	margin-left: -25px;
}
div.amenities:hover ul {
	display: block;
}
div.locations:hover ul {
	display: block;
}
